body{
    background: url("../pictures/wallpaperbetter.com_1366x768.jpg");
    color:rgb(59, 59, 59);
}

.opbtn
{
 display: flex;
 justify-content: center;
}

.btns
{
 background-color: dodgerblue; 
 padding:18px 25px;
 border:0px;
 margin-left: 15px; 
 color:white;
 border-radius: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 15px;
}

input
{
margin-top: 5px;
padding:15px 20px;
border: solid 1px black;
outline: 0px;
} 

::-webkit-inner-spin-button{
    display: none;
}
.modal-header{
    background: linear-gradient(orangered,white,green);
}

    


